*{
    margin: 0;
    padding: 0;

}
body{
    background: url("blur.jpg");
    opacity: 0.9;
}

main{
    width: 98%;
    margin: 40px auto;
    height: 100px;
    border:1px solid grey;
    display: grid;
    grid-template-rows: 60px 60px 230px 160px;
    grid-template-columns: repeat(3,1fr) 180px;
    grid-gap: 15px;
}

.div1{
    background-color: #f79588;
    text-align: center;
    font-size: 20px;
    grid-column: 1/-1;

}
.div2{
    background-color: #2ed573;
    
}
.div3{
    background-color: #1e90ff;
}
.div4{
    background-color: #5352ed;
}
.div5{
    background-color: rgb(27, 17, 17);
    grid-row: 2/4;
    grid-column:4/5 ;
    /* text-align: center;  */
    color: red;
    font-size: 20px;
    font-weight: bold

}
.div6
{
    background: url("audi.jpg");
    height: 200px;
    width: 355px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: bold;
    grid-column: 1/span 1;
    
}
.div7
{
    background: url("swift.jpg");
    height: 200px;
    width: 355px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: bold;
    grid-column: 2/span 1;

}
.div8
{
    background: url("mer.jpg");
    height: 200px;
    width: 355px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: bold;
    grid-column: 3/span 1;

}
.div9{
    /* background-color: light green; */
    grid-column: 1/span 4 ;
    
}

 #cars { 
    line-height: 30px;
    text-align: center; 
    margin-left: 80px;
    margin-top: 15px;
    width: 180px;
    padding: 6px;
}

p{
         margin-top: 170px;
         margin-left: 50px;
         font-size: 23px;
         color: red;
        bottom: 0;
        left: 0;
        font-family: 'Lobster', cursive;
         word-spacing: 30px;
}


.div5 input{
    width: 35%;
    margin-bottom: 20px;
}

.div5 input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.div5 input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
}

.div5 input[type="submit"]:hover
{
    cursor:pointer;
    background: #ffc187;
    color: #000;
}
ul{
    text-align: left;
    font-size: 15px;
    margin-left: 18px;
    font-weight: normal;
    font-size: 15px;
    /* margin-top: 150px; */
}
ol{
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;

}
h5{
    margin-top: 130px;
    margin-left: 90px;
}

.logo{
    width: 100px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    /* top: -50px; */
    left: calc(10% - 90px);
}


